<!doctype html>
<html>
  <h1>
      <marquee behavior="scroll" direction="left" style="background-color: #28a4c9; color: deeppink">Welcome Hacker</marquee>
  </h1>
<body>
    <div style="text-align: center">
        {{request.user}} {{request.method}}
    </div>
    <div>
        <table>
            <thead>
            <tr>
                <td>DataBase</td>
            </tr>
            </thead>
            <tr>
                <td>
                    <tt></tt>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>